<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- bank -->
    <dubbo:reference id="bankApi"
                     interface="com.yryz.writer.modules.bank.BankApi" registry="yryz-new" check="false" timeout="10000"
                     retries="0"/>
    <!-- profit -->
    <dubbo:reference id="profitApi"
                     interface="com.yryz.writer.modules.profit.ProfitApi" registry="yryz-new" check="false" timeout="10000"
                     retries="0"/>

    <!-- writer -->
    <dubbo:reference id="writerApi"
                     interface="com.yryz.writer.modules.writer.WriterApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>
    <!-- writer -->
    <dubbo:reference id="writerAuditApi"
                     interface="com.yryz.writer.modules.writer.WriterAuditApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>
                     
                     
    <!-- province -->
    <dubbo:reference id="provinceApi"
                     interface="com.yryz.writer.modules.province.ProvinceApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>
    <!-- city -->
    <dubbo:reference id="cityApi"
                     interface="com.yryz.writer.modules.city.CityApi" registry="yryz-new" check="false" timeout="10000"
                     retries="0"/>
                     
    <dubbo:reference id="indexColumnApi"
                     interface="com.yryz.writer.modules.indexcolumn.IndexColumnApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>
    <!-- draft -->
    <dubbo:reference id="draftApi"
                     interface="com.yryz.writer.modules.draft.DraftApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>
    <!-- task -->
    <dubbo:reference id="taskApi"
                     interface="com.yryz.writer.modules.task.TaskApi" registry="yryz-new" check="false" timeout="10000"
                     retries="0"/>
    <!-- fans -->
    <dubbo:reference id="fansApi"
                     interface="com.yryz.writer.modules.fans.FansApi" registry="yryz-new" check="false" timeout="10000"
                     retries="0"/>

    <dubbo:reference id="articleShareApi"
                     interface="com.yryz.writer.modules.articleshare.ArticleShareApi" registry="yryz-new" check="false"
                     timeout="10000" retries="0"/>

    <dubbo:reference id="articleFavoriteApi"
                     interface="com.yryz.writer.modules.articlefavorite.ArticleFavoriteApi" registry="yryz-new"
                     check="false" timeout="10000" retries="0"/>

    <dubbo:reference id="messageApi"
                     interface="com.yryz.writer.modules.message.MessageApi" registry="yryz-new"
                     check="false" timeout="10000" retries="0"/>

    <dubbo:reference id="articleCommentApi"
                     interface="com.yryz.writer.modules.articlecomment.ArticleCommentApi" registry="yryz-new"
                     check="false" timeout="10000" retries="0"/>

    <dubbo:reference id="smsCommonApi"
                     interface="com.yryz.writer.modules.platform.SmsCommonApi" registry="yryz-new"
                     check="false" timeout="10000" retries="0"/>

</beans>