<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- Dubbo Service -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}"/>
    
    <!-- 通信配置 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>
    
    <!-- <dubbo:service>和<dubbo:protocol> 默认值  -->
    <dubbo:provider timeout="${dubbo.service.timeout}" loadbalance="${dubbo.service.loadbalance}"/>
    
    <!-- 监控中心配置 -->
    <!--<dubbo:monitor protocol="${dubbo.monitor.protocol}"/>-->
    
    <!-- 定义yryz注册中心 -->
    <dubbo:registry id="yryz-new" address="${dubbo.registry.address}" file="${dubbo.registry.file}"/>

    <import resource="spring-dubbo-provider.xml"/>
    <import resource="spring-dubbo-consumer.xml"/>
</beans>