<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.articleclassify.dao.persistence.ArticleClassifyDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="parent_id" property="parentId" jdbcType="BIGINT"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="classify_name" property="classifyName" jdbcType="VARCHAR"/>
		<result column="classify_desc" property="classifyDesc" jdbcType="VARCHAR"/>
		<result column="recommend_flag" property="recommendFlag" jdbcType="TINYINT"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="last_stage_flag" property="lastStageFlag" jdbcType="TINYINT"/>
		<result column="shelve_flag" property="shelveFlag" jdbcType="TINYINT"/>
		<result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">id,kid,parent_id,icon,classify_name,classify_desc,recommend_flag,sort,last_stage_flag,shelve_flag,del_flag,create_date,last_update_date,create_user_id,last_update_user_id
    </sql>

     <!-- 查询ArticleClassify详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_articleclassify
        where del_flag = 0
		and kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除ArticleClassify-->
    <delete id="delete" parameterType="java.lang.Long">
        update yryz_articleclassify
        set del_flag = 1
        where kid = #{kid,jdbcType=BIGINT}
    </delete>
  
  

	
	<!--按需新增ArticleClassify-->
    <insert id="insert"  useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
	    insert into yryz_articleclassify 
	    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			kid,
	    </if>
        <if test="parentId != null">
			parent_id,
	    </if>
        <if test="icon != null and icon != ''">
			icon,
	    </if>
        <if test="classifyName != null and classifyName != ''">
			classify_name,
	    </if>
        <if test="classifyDesc != null and classifyDesc != ''">
			classify_desc,
	    </if>
        <if test="recommendFlag != null">
			recommend_flag,
	    </if>
        <if test="sort != null">
			sort,
	    </if>
        <if test="lastStageFlag != null">
			last_stage_flag,
	    </if>
        <if test="shelveFlag != null">
			shelve_flag,
	    </if>
        <if test="delFlag != null">
			del_flag,
	    </if>
        <if test="createDate != null">
			create_date,
	    </if>
        <if test="lastUpdateDate != null">
			last_update_date,
	    </if>
        <if test="createUserId != null and createUserId != ''">
			create_user_id,
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			last_update_user_id,
	    </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			#{kid,jdbcType=BIGINT},
	    </if>
        <if test="parentId != null">
			#{parentId,jdbcType=BIGINT},
	    </if>
        <if test="icon != null and icon != ''">
			#{icon,jdbcType=VARCHAR},
	    </if>
        <if test="classifyName != null and classifyName != ''">
			#{classifyName,jdbcType=VARCHAR},
	    </if>
        <if test="classifyDesc != null and classifyDesc != ''">
			#{classifyDesc,jdbcType=VARCHAR},
	    </if>
        <if test="recommendFlag != null">
			#{recommendFlag,jdbcType=TINYINT},
	    </if>
        <if test="sort != null">
			#{sort,jdbcType=INTEGER},
	    </if>
        <if test="lastStageFlag != null">
			#{lastStageFlag,jdbcType=TINYINT},
	    </if>
        <if test="shelveFlag != null">
			#{shelveFlag,jdbcType=TINYINT},
	    </if>
        <if test="delFlag != null">
			#{delFlag,jdbcType=TINYINT},
	    </if>
        <if test="createDate != null">
			#{createDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="createUserId != null and createUserId != ''">
			#{createUserId,jdbcType=VARCHAR},
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			#{lastUpdateUserId,jdbcType=VARCHAR},
	    </if>
	    </trim>
	</insert>
	
	
	<!-- 按需修改ArticleClassify-->   
    <update id="update" parameterType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
        update yryz_articleclassify
        <set>
             <if test="parentId != null">
    			parent_id = #{parentId,jdbcType=BIGINT},
    		</if>
            <if test="icon != null and icon != ''">
    			icon = #{icon,jdbcType=VARCHAR},
    		</if>
            <if test="classifyName != null and classifyName != ''">
    			classify_name = #{classifyName,jdbcType=VARCHAR},
    		</if>
            <if test="classifyDesc != null and classifyDesc != ''">
    			classify_desc = #{classifyDesc,jdbcType=VARCHAR},
    		</if>
             <if test="recommendFlag != null">
    			recommend_flag = #{recommendFlag,jdbcType=TINYINT},
    		</if>
             <if test="sort != null">
    			sort = #{sort,jdbcType=INTEGER},
    		</if>
             <if test="lastStageFlag != null">
    			last_stage_flag = #{lastStageFlag,jdbcType=TINYINT},
    		</if>
             <if test="shelveFlag != null">
    			shelve_flag = #{shelveFlag,jdbcType=TINYINT},
    		</if>
             <if test="delFlag != null">
    			del_flag = #{delFlag,jdbcType=TINYINT},
    		</if>
             <if test="createDate != null">
    			create_date = #{createDate,jdbcType=TIMESTAMP},
    		</if>
             <if test="lastUpdateDate != null">
    			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
            <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
    			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
    		</if>
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>
    
    <!-- 查询ArticleClassify列表 -->
    <select id="selectList" parameterType="com.yryz.writer.modules.articleclassify.dto.ArticleClassifyDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_articleclassify
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			shelve_flag = 0
			AND del_flag = 0
			<if test="lassifyName != null and lassifyName != " >
				AND classify_name like CONCAT('%',trim(#{lassifyName}),'%')
			</if>

			<if test="parentId != null " >
				AND parent_id = parentId
			</if>
			<choose>
				<when test="orderFiled != null and orderValue != null" >
					ORDER BY #{orderFiled} #{orderValue}
				</when>
				<otherwise>
					ORDER BY last_update_date desc
				</otherwise>
			</choose>

		</trim>

    </select>
    
</mapper>