<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.articleclassify.dao.persistence.ArticleClassifyDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="parent_id" property="parentId" jdbcType="BIGINT"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="classify_name" property="classifyName" jdbcType="VARCHAR"/>
		<result column="classify_desc" property="classifyDesc" jdbcType="VARCHAR"/>
		<result column="recommend_flag" property="recommendFlag" jdbcType="TINYINT"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="last_stage_flag" property="lastStageFlag" jdbcType="TINYINT"/>
		<result column="shelve_flag" property="shelveFlag" jdbcType="TINYINT"/>
		<result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
		<result column="dev_type" property="devType" jdbcType="TINYINT"/>

		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">id,kid,parent_id,icon,classify_name,classify_desc,recommend_flag,sort,last_stage_flag,shelve_flag,del_flag,create_date,last_update_date,create_user_id,last_update_user_id,dev_type
    </sql>

     <!-- 查询ArticleClassify详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_articleclassify
        where kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除ArticleClassify-->
    <update id="deleteArticleClassify" >
        update yryz_articleclassify
        set del_flag = 1,
        	last_update_date=NOW(),
			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
			recommend_flag = 0,
			sort = 9999,
			shelve_flag = 1
        where kid = #{kid,jdbcType=BIGINT}

    </update>

	<!--  恢复分类 -->
	<update id="recoverClassify" >
		update yryz_articleclassify
        set del_flag = 0,
        	last_update_date=NOW(),
			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR}
        where kid = #{kid,jdbcType=BIGINT}
	</update>


	
	<!--按需新增ArticleClassify-->
    <insert id="insert"  useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
	    insert into yryz_articleclassify 
	    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			kid,
	    </if>
        <if test="parentId != null">
			parent_id,
	    </if>
        <if test="icon != null and icon != ''">
			icon,
	    </if>
        <if test="classifyName != null and classifyName != ''">
			classify_name,
	    </if>
        <if test="classifyDesc != null and classifyDesc != ''">
			classify_desc,
	    </if>
        <if test="recommendFlag != null">
			recommend_flag,
	    </if>
        <if test="sort != null">
			sort,
	    </if>
        <if test="lastStageFlag != null">
			last_stage_flag,
	    </if>
        <if test="shelveFlag != null">
			shelve_flag,
	    </if>
		<if test="devType != null">
			dev_type,
		</if>
        <if test="delFlag != null">
			del_flag,
	    </if>
        <if test="createUserId != null and createUserId != ''">
			create_user_id,
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			last_update_user_id,
	    </if>
			create_date,
			last_update_date
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			#{kid,jdbcType=BIGINT},
	    </if>
        <if test="parentId != null">
			#{parentId,jdbcType=BIGINT},
	    </if>
        <if test="icon != null and icon != ''">
			#{icon,jdbcType=VARCHAR},
	    </if>
        <if test="classifyName != null and classifyName != ''">
			#{classifyName,jdbcType=VARCHAR},
	    </if>
        <if test="classifyDesc != null and classifyDesc != ''">
			#{classifyDesc,jdbcType=VARCHAR},
	    </if>
        <if test="recommendFlag != null">
			#{recommendFlag,jdbcType=TINYINT},
	    </if>
        <if test="sort != null">
			#{sort,jdbcType=INTEGER},
	    </if>
        <if test="lastStageFlag != null">
			#{lastStageFlag,jdbcType=TINYINT},
	    </if>
        <if test="shelveFlag != null">
			#{shelveFlag,jdbcType=TINYINT},
	    </if>
		<if test="devType != null">
			#{devType,jdbcType=TINYINT},
		</if>
        <if test="delFlag != null">
			#{delFlag,jdbcType=TINYINT},
	    </if>
        <if test="createUserId != null and createUserId != ''">
			#{createUserId,jdbcType=VARCHAR},
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			#{lastUpdateUserId,jdbcType=VARCHAR},
	    </if>
			NOW(),
			NOW()
	    </trim>
	</insert>
	
	
	<!-- 按需修改ArticleClassify-->   
    <update id="update" parameterType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
        update yryz_articleclassify
        <set>
             <if test="parentId != null">
    			parent_id = #{parentId,jdbcType=BIGINT},
    		</if>
            <if test="icon != null and icon != ''">
    			icon = #{icon,jdbcType=VARCHAR},
    		</if>
            <if test="classifyName != null and classifyName != ''">
    			classify_name = #{classifyName,jdbcType=VARCHAR},
    		</if>
            <if test="classifyDesc != null and classifyDesc != ''">
    			classify_desc = #{classifyDesc,jdbcType=VARCHAR},
    		</if>
             <if test="recommendFlag != null">
    			recommend_flag = #{recommendFlag,jdbcType=TINYINT},
    		</if>
             <if test="sort != null">
    			sort = #{sort,jdbcType=INTEGER},
    		</if>
             <if test="lastStageFlag != null">
    			last_stage_flag = #{lastStageFlag,jdbcType=TINYINT},
    		</if>
             <if test="shelveFlag != null">
    			shelve_flag = #{shelveFlag,jdbcType=TINYINT},
    		</if>
             <if test="delFlag != null">
    			del_flag = #{delFlag,jdbcType=TINYINT},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
            <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
    			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
    		</if>
			<if test="devType != null">
				dev_type = #{devType,jdbcType=TINYINT},
			</if>

			last_update_date = NOW()
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>
    
    <!-- 查询ArticleClassify列表 -->
    <select id="selectList" parameterType="com.yryz.writer.modules.articleclassify.dto.ArticleClassifyDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_articleclassify
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="shelveFlag != null">
				shelve_flag = #{shelveFlag,jdbcType=TINYINT}
			</if>
			<if test="devType != null">
				AND dev_type = #{devType,jdbcType=TINYINT}
			</if>
			<if test="delFlag != null">
				AND del_flag = #{delFlag,jdbcType=TINYINT}
			</if>
			<if test="classifyName != null and classifyName != '' " >
				AND classify_name like CONCAT('%',trim(#{classifyName}),'%')
			</if>
			<if test="parentId != null and parentId != ''" >
				AND parent_id = #{parentId,jdbcType=BIGINT}
			</if>
		</trim>
		<if test="orderStr != null and orderStr != '' " >
			${orderStr}
		</if>

    </select>

	<!--  查询子分类是上架状态的个数 -->
	<select id="selectShelveOnChildCount" resultType="int">
		select count(1) from yryz_classify t where t.parent_id=#{id} and t.del_flag=0 and t.shelve_flag=0
	</select>

	<!--  分类下是否包含文章个数  -->
	<select id="countArticleByClassifyId" parameterType="Long"  resultType="int" >
		SELECT COUNT(1) FROM yryz_article_articleclassify WHERE classify_id=#{articleClassifyId}
	</select>

	<select id="queryArticleClassifyIds" resultType="java.lang.Long">
		SELECT
		kid
		FROM
		yryz_articleclassify
		WHERE
		shelve_flag = 0 AND del_flag = 0 AND kid = #{classifyId} OR parent_id = #{classifyId}
	</select>

	<select id="getArticleClassifysById" resultType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
		SELECT
		<include refid="Base_Column_List"/>
		FROM yryz_articleclassify
		WHERE shelve_flag = 0 AND del_flag = 0 AND parent_id = #{articleClassifyId}
		ORDER BY recommend_flag DESC,sort ASC,last_update_date DESC
	</select>

	<select id="selectMaxSort" resultType="java.lang.Integer">
		select MAX(sort) from yryz_articleclassify T
		where T.recommend_flag = 1
	</select>


	<select id="recommendlist" parameterType="com.yryz.writer.modules.articleclassify.dto.ArticleClassifyDto" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from yryz_articleclassify
		<where>
			<if test="shelveFlag !=null">
				AND shelve_flag = #{shelveFlag,jdbcType=TINYINT}
			</if>
			<if test="delFlag != null">
				AND del_flag = #{delFlag,jdbcType=TINYINT}
			</if>
			<if test="devType != null">
				AND dev_type = #{devType,jdbcType=TINYINT}
			</if>
			<if test="classifyName != null and classifyName != ''">
				AND classify_name like CONCAT('%',trim(#{classifyName}),'%')
			</if>
			<if test="parentId != null and parentId != ''">
				AND parent_id = #{parentId,jdbcType=BIGINT}
			</if>
		</where>
		ORDER BY recommend_flag DESC,
		<choose>
			<when test="orderValue == 'DESC'">
				sort DESC,
			</when>
			<when test="orderValue == 'ASC'">
				sort ASC,
			</when>
		</choose>
		last_update_date DESC
	</select>


	<select id="selectSortsByRecommend" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/>
		FROM yryz_articleclassify ya
		WHERE ya.del_flag = 0
		AND ya.shelve_flag = 0
		AND ya.recommend_flag = 1
		<choose>
		<when test="flag == 0">
			AND ya.sort <![CDATA[<]]> #{sort}
		</when>
		<when test="flag == 1">
			AND ya.sort <![CDATA[>]]> #{sort}
		</when>
		</choose>
		ORDER BY ya.sort ASC
	</select>
	
	<select id="selectByCondition" resultType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify" parameterType="com.yryz.writer.modules.articleclassify.entity.ArticleClassify">
        SELECT <include refid="Base_Column_List"/>
        FROM yryz_articleclassify
        <include refid="sql_condition_select" />
    </select>

	<sql id="sql_condition_select">
		<where>
			1=1
          <if test="id != null">
	        And id = #{id,jdbcType=BIGINT}
	      </if>
	      <if test="kid != null">
	        And kid = #{kid,jdbcType=BIGINT}
	      </if>
	      <if test="parentId != null">
	        And parent_id = #{parentId,jdbcType=BIGINT}
	      </if>
	      <if test="icon != null">
	        And icon = #{icon,jdbcType=VARCHAR}
	      </if>
	      <if test="classifyName != null">
	        And classify_name = #{classifyName,jdbcType=VARCHAR}
	      </if>
	      <if test="classifyDesc != null">
	        And classify_desc = #{classifyDesc,jdbcType=VARCHAR}
	      </if>
	      <if test="recommendFlag != null">
	        And recommend_flag = #{recommendFlag,jdbcType=TINYINT}
	      </if>
	      <if test="sort != null">
	        And sort = #{sort,jdbcType=INTEGER}
	      </if>
	      <if test="lastStageFlag != null">
	        And last_stage_flag = #{lastStageFlag,jdbcType=TINYINT}
	      </if>
	      <if test="shelveFlag != null">
	        And shelve_flag = #{shelveFlag,jdbcType=TINYINT}
	      </if>
	      <if test="delFlag != null">
	        And del_flag = #{delFlag,jdbcType=TINYINT}
	      </if>
		<if test="devType != null">
			And dev_type = #{devType,jdbcType=TINYINT}
		</if>
	      <if test="createDate != null">
	        And create_date = #{createDate,jdbcType=TIMESTAMP}
	      </if>
	      <if test="lastUpdateDate != null">
	        And last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
	      </if>
	      <if test="createUserId != null">
	        And create_user_id = #{createUserId,jdbcType=VARCHAR}
	      </if>
	      <if test="lastUpdateUserId != null">
	        And last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR}
	      </if>
		</where>
	</sql>
</mapper>