<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.articleshare.dao.persistence.ArticleShareDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.articleshare.entity.ArticleShare">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_user_nickname" property="createUserNickname" jdbcType="VARCHAR"/>
		<result column="article_id" property="articleId" jdbcType="BIGINT"/>
		<result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">id,kid,user_id,create_user_id,create_user_nickname,article_id,article_title,create_date,last_update_date
    </sql>

     <!-- 查询ArticleShare详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_article_share
        where del_flag = 0
		and kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除ArticleShare-->
    <delete id="delete" parameterType="java.lang.Long">
        update yryz_article_share
        set del_flag = 1
        where kid = #{kid,jdbcType=BIGINT}
    </delete>
  
  
  	<!-- 新增ArticleShare-->
    <insert id="insert"  parameterType="com.yryz.writer.modules.articleshare.entity.ArticleShare">
		insert into yryz_article_share
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="kid != null">
				kid,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createUserId != null and createUserId != ''">
				create_user_id,
			</if>
			<if test="userHeadImg != null and userHeadImg != ''">
				user_head_img,
			</if>
			<if test="articleId != null">
				article_id,
			</if>
			<if test="articleTitle != null and articleTitle != ''">
				article_title,
			</if>
			<if test="writerId != null">
				writer_id,
			</if>
			create_date,
			last_update_date
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="kid != null">
				#{kid,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="createUserId != null and createUserId != ''">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createUserNickname != null and createUserNickname != ''">
				#{createUserNickname,jdbcType=VARCHAR},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=BIGINT},
			</if>
			<if test="articleTitle != null and articleTitle != ''">
				#{articleTitle,jdbcType=VARCHAR},
			</if>
			<if test="writerId != null">
				#{writerId,jdbcType=BIGINT},
			</if>
			NOW(),
			NOW()
		</trim>
	</insert>
	
	<!--按需新增ArticleShare-->
    <insert id="insertByPrimaryKeySelective"   parameterType="com.yryz.writer.modules.articleshare.entity.ArticleShare">
	    insert into yryz_article_share
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="kid != null">
				kid,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createUserId != null and createUserId != ''">
				create_user_id,
			</if>
			<if test="createUserNickname != null and createUserNickname != ''">
				create_user_nickname,
			</if>
			<if test="userHeadImg != null and userHeadImg != ''">
				user_head_img,
			</if>
			<if test="articleId != null">
				article_id,
			</if>
			<if test="articleTitle != null and articleTitle != ''">
				article_title,
			</if>
			<if test="writerId != null">
				writer_id,
			</if>
			create_date,
			last_update_date
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="kid != null">
				#{kid,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="createUserId != null and createUserId != ''">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createUserNickname != null and createUserNickname != ''">
				#{createUserNickname,jdbcType=VARCHAR},
			</if>
			<if test="userHeadImg != null and userHeadImg != ''">
				#{userHeadImg,jdbcType=VARCHAR},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=BIGINT},
			</if>
			<if test="articleTitle != null and articleTitle != ''">
				#{articleTitle,jdbcType=VARCHAR},
			</if>
			<if test="writerId != null">
				#{writerId,jdbcType=BIGINT},
			</if>
			NOW(),
			NOW()
		</trim>
	</insert>
	
	
	<!-- 按需修改ArticleShare-->   
    <update id="update" parameterType="com.yryz.writer.modules.articleshare.entity.ArticleShare">
        update yryz_article_share
        <set>
             <if test="userId != null">
    			user_id = #{userId,jdbcType=BIGINT},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
            <if test="createUserNickname != null and createUserNickname != ''">
    			create_user_nickname = #{createUserNickname,jdbcType=VARCHAR},
    		</if>
             <if test="articleId != null">
    			article_id = #{articleId,jdbcType=BIGINT},
    		</if>
            <if test="articleTitle != null and articleTitle != ''">
    			article_title = #{articleTitle,jdbcType=VARCHAR},
    		</if>
             <if test="createDate != null">
    			create_date = #{createDate,jdbcType=TIMESTAMP},
    		</if>
             <if test="lastUpdateDate != null">
    			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
    		</if>
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>
    
    <!-- 查询ArticleShare列表 -->
    <select id="selectListByWriter" parameterType="com.yryz.writer.modules.articleshare.dto.ArticleShareDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_article_share
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			shelve_flag = 0
			AND del_flag = 0
			<if test="custId != null and custId != ''">
				AND writer_id = #{custId}
			</if>
			ORDER BY kid DESC
		</trim>

    </select>
    
</mapper>