<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<dubbo:application name="qstone-check-test" />

<!--
	<dubbo:registry address="zookeeper://192.168.30.36:2181?client=zkclient"
		file="/app/yryz/service-user/test/dubbo-registry.properties" />
-->

	<dubbo:registry  id="new-yryz" address="zookeeper://127.0.0.1:2181?client=zkclient"
					default="false" file="/app/yryz/service-user/test/dubbo-registry.properties" />


	<!-- 引用dubbo服务 -->
<!--
	<dubbo:reference id="openTransactionApi"
					 interface="com.yryz.qstone.modules.transaction.api.OpenTransactionApi" check="false" timeout="5000" />
-->

	<!-- 引用dubbo服务 -->
	<dubbo:reference id="profitApi" registry="new-yryz"
					 interface="com.yryz.writer.modules.profit.ProfitApi" check="false" timeout="5000" />

</beans>