<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.fans.dao.persistence.FansDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.fans.entity.Fans">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="wirter_id" property="wirterId" jdbcType="BIGINT"/>
		<result column="module_enum" property="moduleEnum" jdbcType="VARCHAR"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
		<result column="shelve_flag" property="shelveFlag" jdbcType="TINYINT"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">id,kid,user_id,wirter_id,module_enum,create_user_id,create_date,last_update_user_id,last_update_date,del_flag,shelve_flag
    </sql>

     <!-- 查询Fans详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_fans
        where del_flag = 0
		and kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除Fans-->
    <delete id="delete" parameterType="java.lang.Long">
        update yryz_fans
        set del_flag = 1
        where kid = #{kid,jdbcType=BIGINT}
    </delete>
  
  
  	<!-- 新增Fans-->
    <insert id="insert"  parameterType="com.yryz.writer.modules.fans.entity.Fans">
	    insert into yryz_fans (kid,user_id,wirter_id,module_enum,create_user_id,create_date,last_update_user_id,last_update_date,del_flag,shelve_flag)
	    values (
	    	#{kid,jdbcType=BIGINT}
				,#{userId,jdbcType=BIGINT}
				,#{wirterId,jdbcType=BIGINT}
				,#{moduleEnum,jdbcType=VARCHAR}
				,#{createUserId,jdbcType=VARCHAR}
			,NOW()
				,#{lastUpdateUserId,jdbcType=VARCHAR}
			,NOW()
				,#{delFlag,jdbcType=TINYINT}
				,#{shelveFlag,jdbcType=TINYINT}
	    )
	</insert>
	
	<!--按需新增Fans-->
    <insert id="insertByPrimaryKeySelective"   parameterType="com.yryz.writer.modules.fans.entity.Fans">
	    insert into yryz_fans 
	    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			kid,
	    </if>
        <if test="userId != null">
			user_id,
	    </if>
        <if test="wirterId != null">
			wirter_id,
	    </if>
        <if test="moduleEnum != null and moduleEnum != ''">
			module_enum,
	    </if>
        <if test="createUserId != null and createUserId != ''">
			create_user_id,
	    </if>
        <if test="createDate != null">
			create_date,
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			last_update_user_id,
	    </if>
        <if test="lastUpdateDate != null">
			last_update_date,
	    </if>
        <if test="delFlag != null">
			del_flag,
	    </if>
        <if test="shelveFlag != null">
			shelve_flag,
	    </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			#{kid,jdbcType=BIGINT},
	    </if>
        <if test="userId != null">
			#{userId,jdbcType=BIGINT},
	    </if>
        <if test="wirterId != null">
			#{wirterId,jdbcType=BIGINT},
	    </if>
        <if test="moduleEnum != null and moduleEnum != ''">
			#{moduleEnum,jdbcType=VARCHAR},
	    </if>
        <if test="createUserId != null and createUserId != ''">
			#{createUserId,jdbcType=VARCHAR},
	    </if>
        <if test="createDate != null">
			#{createDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			#{lastUpdateUserId,jdbcType=VARCHAR},
	    </if>
        <if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="delFlag != null">
			#{delFlag,jdbcType=TINYINT},
	    </if>
        <if test="shelveFlag != null">
			#{shelveFlag,jdbcType=TINYINT},
	    </if>
	    </trim>
	</insert>
	
	
	<!-- 按需修改Fans-->   
    <update id="update" parameterType="com.yryz.writer.modules.fans.entity.Fans">
        update yryz_fans
        <set>
             <if test="userId != null">
    			user_id = #{userId,jdbcType=BIGINT},
    		</if>
             <if test="wirterId != null">
    			wirter_id = #{wirterId,jdbcType=BIGINT},
    		</if>
            <if test="moduleEnum != null and moduleEnum != ''">
    			module_enum = #{moduleEnum,jdbcType=VARCHAR},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
             <if test="createDate != null">
    			create_date = #{createDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
    			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
    		</if>
             <if test="lastUpdateDate != null">
    			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
    		</if>
             <if test="delFlag != null">
    			del_flag = #{delFlag,jdbcType=TINYINT},
    		</if>
             <if test="shelveFlag != null">
    			shelve_flag = #{shelveFlag,jdbcType=TINYINT},
    		</if>
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>
    
    <!-- 查询Fans列表 -->
    <select id="selectList" parameterType="com.yryz.writer.modules.fans.dto.FansDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_fans where del_flag = 0

    </select>
    
</mapper>