<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://code.alibabatech.com/schema/dubbo
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--ID发号服务-->
    <dubbo:reference id="idAPI" interface="com.yryz.writer.modules.id.api.IdAPI" check="false"/>
    <dubbo:reference id="messageApi" interface="com.yryz.writer.modules.message.MessageApi" check="false"/>

    <dubbo:reference id="provinceApi" interface="com.yryz.writer.modules.province.ProvinceApi" check="false"/>

    <dubbo:reference id="cityApi" interface="com.yryz.writer.modules.city.CityApi" check="false"/>

    <!--资金服务-->
    <dubbo:reference id="openBankCardApi" registry="qstone" interface="com.yryz.qstone.modules.base.api.OpenBankCardApi" check="false"/>
    <dubbo:reference id="openAccountApi" registry="qstone" interface="com.yryz.qstone.modules.base.api.OpenAccountApi" check="false"/>
    <dubbo:reference id="openOwnerApi" registry="qstone" interface="com.yryz.qstone.modules.base.api.OpenOwnerApi" check="false"/>
    <dubbo:reference id="openTransactionApi" registry="qstone" interface="com.yryz.qstone.modules.transaction.api.OpenTransactionApi" check="false" timeout="5000" />

    <!--writer服务-->
    <dubbo:reference id="writerApi" interface="com.yryz.writer.modules.writer.WriterApi" check="false"/>

    <!--平台的SMS服务-->
   <dubbo:reference id="smsAPI"
                     interface="com.yryz.service.api.basic.api.SmsAPI" check="false"
                     version="1.0" registry="platform" timeout="30000"/>

</beans>