<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.ad.dao.persistence.AdDao">

    <select id="getList" parameterType="com.yryz.writer.modules.ad.dto.AdDto"
            resultType="com.yryz.writer.modules.ad.entity.Ad">
        select * from yryz_ad T WHERE 1=1
        <if test="adTitle != null and adTitle!= ''">
            AND ad_title like CONCAT('%',trim(#{adTitle,jdbcType=VARCHAR}),'%')
        </if>
        <if test="adKeyword != null and adKeyword!= ''">
            AND ad_keyword = trim(#{adKeyword,jdbcType=VARCHAR})
        </if>
        <if test="startTime != null">
            AND (start_time &gt;= #{startTime,jdbcType=TIMESTAMP} OR end_time &gt;= #{startTime,jdbcType=TIMESTAMP})
        </if>
        <if test="endTime != null">
            AND (start_time &lt;= #{endTime,jdbcType=TIMESTAMP} OR end_time &lt;= #{endTime,jdbcType=TIMESTAMP})
        </if>
        <if test="status != null and status == 1">
            AND start_time &gt; DATE_FORMAT(NOW(),'%Y-%m-%d') AND shelve_flag = 0
        </if>
        <if test="status != null and status == 2">
            AND start_time &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d') AND end_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d') AND
            shelve_flag = 0
        </if>
        <if test="status != null and status == 3">
            AND end_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d') AND shelve_flag = 0
        </if>
        <if test="status != null and status == 4">
            AND shelve_flag = 1
        </if>
        ORDER BY T.sort ASC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.yryz.writer.modules.ad.entity.Ad" >
        insert into yryz_ad(<if test="id != null">ID,</if>
        ad_picture
        ,uri_type
        ,ad_display
        ,ad_keyword
        ,start_time
        ,end_time
        ,recommend
        ,sort
        ,create_date
        ,last_update_date
        ,create_user_id
        ,last_update_user_id
        ,del_flag
        ,shelve_flag
        ,ad_title
        ,ad_url
        ) values(
        <if test="id != null">
            #{id, jdbcType=NUMERIC},
        </if>
        #{adPicture,jdbcType=VARCHAR}
        ,#{uriType,jdbcType=VARCHAR}
        ,#{adDisplay,jdbcType=TINYINT}
        ,#{adKeyword,jdbcType=VARCHAR}
        ,#{startTime,jdbcType=TIMESTAMP}
        ,#{endTime,jdbcType=TIMESTAMP}
        ,#{recommend,jdbcType=TINYINT}
        ,#{sort,jdbcType=INTEGER}
        ,NOW()
        ,NOW()
        ,#{createUserId,jdbcType=VARCHAR}
        ,#{lastUpdateUserId,jdbcType=VARCHAR}
        ,#{delFlag,jdbcType=TINYINT}
        ,#{shelveFlag,jdbcType=TINYINT}
        ,#{adTitle,jdbcType=VARCHAR}
        ,#{adUrl,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.yryz.writer.modules.ad.entity.Ad">
        update yryz_ad set last_update_date = NOW()
        <if test="adPicture != null">
            ,ad_picture = #{adPicture,jdbcType=VARCHAR}
        </if>
        <if test="uriType != null">
            ,uri_type = #{uriType,jdbcType=VARCHAR}
        </if>
        <if test="adDisplay != null">
            ,ad_display = #{adDisplay,jdbcType=TINYINT}
        </if>
        <if test="adKeyword != null">
            ,ad_keyword = #{adKeyword,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            ,start_time = #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="recommend != null">
            ,recommend = #{recommend,jdbcType=TINYINT}
        </if>
        <if test="sort != null">
            ,sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="createDate != null">
            ,create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="createUserId != null">
            ,create_user_id = #{createUserId,jdbcType=VARCHAR}
        </if>
        <if test="lastUpdateUserId != null">
            ,last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR}
        </if>
        <if test="delFlag != null">
            ,del_flag = #{delFlag,jdbcType=TINYINT}
        </if>
        <if test="shelveFlag != null">
            ,shelve_flag = #{shelveFlag,jdbcType=TINYINT}
        </if>
        <if test="adTitle != null">
            ,ad_title = #{adTitle,jdbcType=VARCHAR}
        </if>
        <if test="adUrl != null">
            ,ad_url = #{adUrl,jdbcType=VARCHAR}
        </if>
        where ID=#{id, jdbcType=NUMERIC}
    </update>
</mapper>