<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.writer.dao.persistence.WriterAuditDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.writer.entity.WriterAudit">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="writer_kid" property="writerKid" jdbcType="BIGINT"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="identity_card" property="identityCard" jdbcType="VARCHAR"/>
		<result column="identity_card_photo" property="identityCardPhoto" jdbcType="VARCHAR"/>
		<result column="provice" property="provice" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="tel" property="tel" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="audit_status" property="auditStatus" jdbcType="TINYINT"/>
		<result column="reamrk" property="reamrk" jdbcType="VARCHAR"/>
		<result column="apply_date" property="applyDate" jdbcType="TIMESTAMP"/>
		<result column="audit_date" property="auditDate" jdbcType="TIMESTAMP"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR"/>
		<result column="register_date" property="registerDate" jdbcType="TIMESTAMP"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">
		h.id,
		h.kid,
		h.writer_kid,
		h.user_name,
		h.identity_card,
		h.identity_card_photo,
		h.provice,
		h.city,
		h.tel,
		h.email,
		h.audit_status,
		h.reamrk,
		h.apply_date,
		h.audit_date,
		h.create_date,
		h.create_user_id,
		h.last_update_date,
		h.last_update_user_id,
		w.create_date as register_date,
		w.phone
    </sql>
    
    <!-- 查询WriterAudit列表 -->
    <select id="selectList" parameterType="com.yryz.writer.modules.writer.dto.WriterAuditDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_writer_audit_history h,yryz_writer w 
        WHERE h.writer_kid = w.kid
        <if test="phone != null and phone != ''">
    		and w.phone = #{phone,jdbcType=VARCHAR}
    	</if>
    	<if test="auditStatus != null">
    		and h.audit_status = #{auditStatus,jdbcType=TINYINT}
    	</if>
        order by h.apply_date DESC
    </select>

     <!-- 查询WriterAudit详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_writer_audit_history h
        where h.kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除WriterAudit-->
    <delete id="delete" parameterType="java.lang.Long">
        update yryz_writer_audit_history
        set del_flag = 1
        where kid = #{kid,jdbcType=BIGINT}
    </delete>
  
  
  	<!-- 新增WriterAudit-->
    <insert id="insert"  parameterType="com.yryz.writer.modules.writer.entity.WriterAudit">
	    insert into yryz_writer_audit_history (kid,writer_kid,user_name,identity_card,identity_card_photo,provice,city,tel,email,audit_status,reamrk,apply_date,audit_date,create_date,create_user_id,last_update_date,last_update_user_id)
	    values (
	    	#{kid,jdbcType=BIGINT}
				,#{writerKid,jdbcType=BIGINT}
				,#{userName,jdbcType=VARCHAR}
				,#{identityCard,jdbcType=VARCHAR}
				,#{identityCardPhoto,jdbcType=VARCHAR}
				,#{provice,jdbcType=VARCHAR}
				,#{city,jdbcType=VARCHAR}
				,#{tel,jdbcType=VARCHAR}
				,#{email,jdbcType=VARCHAR}
				,#{auditStatus,jdbcType=TINYINT}
				,#{reamrk,jdbcType=VARCHAR}
				,#{applyDate,jdbcType=TIMESTAMP}
				,#{auditDate,jdbcType=TIMESTAMP}
			,NOW()
				,#{createUserId,jdbcType=VARCHAR}
			,NOW()
				,#{lastUpdateUserId,jdbcType=VARCHAR}
	    )
	</insert>
	
	<!--按需新增WriterAudit-->
    <insert id="insertByPrimaryKeySelective"   parameterType="com.yryz.writer.modules.writer.entity.WriterAudit">
	    insert into yryz_writer_audit_history 
	    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			kid,
	    </if>
        <if test="writerKid != null">
			writer_kid,
	    </if>
        <if test="userName != null and userName != ''">
			user_name,
	    </if>
        <if test="identityCard != null and identityCard != ''">
			identity_card,
	    </if>
        <if test="identityCardPhoto != null and identityCardPhoto != ''">
			identity_card_photo,
	    </if>
        <if test="provice != null and provice != ''">
			provice,
	    </if>
        <if test="city != null and city != ''">
			city,
	    </if>
        <if test="tel != null and tel != ''">
			tel,
	    </if>
        <if test="email != null and email != ''">
			email,
	    </if>
        <if test="auditStatus != null">
			audit_status,
	    </if>
        <if test="reamrk != null and reamrk != ''">
			reamrk,
	    </if>
        <if test="applyDate != null">
			apply_date,
	    </if>
        <if test="auditDate != null">
			audit_date,
	    </if>
        <if test="createDate != null">
			create_date,
	    </if>
        <if test="createUserId != null and createUserId != ''">
			create_user_id,
	    </if>
        <if test="lastUpdateDate != null">
			last_update_date,
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			last_update_user_id,
	    </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			#{kid,jdbcType=BIGINT},
	    </if>
        <if test="writerKid != null">
			#{writerKid,jdbcType=BIGINT},
	    </if>
        <if test="userName != null and userName != ''">
			#{userName,jdbcType=VARCHAR},
	    </if>
        <if test="identityCard != null and identityCard != ''">
			#{identityCard,jdbcType=VARCHAR},
	    </if>
        <if test="identityCardPhoto != null and identityCardPhoto != ''">
			#{identityCardPhoto,jdbcType=VARCHAR},
	    </if>
        <if test="provice != null and provice != ''">
			#{provice,jdbcType=VARCHAR},
	    </if>
        <if test="city != null and city != ''">
			#{city,jdbcType=VARCHAR},
	    </if>
        <if test="tel != null and tel != ''">
			#{tel,jdbcType=VARCHAR},
	    </if>
        <if test="email != null and email != ''">
			#{email,jdbcType=VARCHAR},
	    </if>
        <if test="auditStatus != null">
			#{auditStatus,jdbcType=TINYINT},
	    </if>
        <if test="reamrk != null and reamrk != ''">
			#{reamrk,jdbcType=VARCHAR},
	    </if>
        <if test="applyDate != null">
			#{applyDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="auditDate != null">
			#{auditDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="createDate != null">
			#{createDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="createUserId != null and createUserId != ''">
			#{createUserId,jdbcType=VARCHAR},
	    </if>
        <if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			#{lastUpdateUserId,jdbcType=VARCHAR},
	    </if>
	    </trim>
	</insert>
	
	
	<!-- 按需修改WriterAudit-->   
    <update id="update" parameterType="com.yryz.writer.modules.writer.entity.WriterAudit">
        update yryz_writer_audit_history
        <set>
            <if test="writerKid != null">
    			writer_kid = #{writerKid,jdbcType=BIGINT},
    		</if>
            <if test="userName != null and userName != ''">
    			user_name = #{userName,jdbcType=VARCHAR},
    		</if>
            <if test="identityCard != null and identityCard != ''">
    			identity_card = #{identityCard,jdbcType=VARCHAR},
    		</if>
            <if test="identityCardPhoto != null and identityCardPhoto != ''">
    			identity_card_photo = #{identityCardPhoto,jdbcType=VARCHAR},
    		</if>
            <if test="provice != null and provice != ''">
    			provice = #{provice,jdbcType=VARCHAR},
    		</if>
            <if test="city != null and city != ''">
    			city = #{city,jdbcType=VARCHAR},
    		</if>
            <if test="tel != null and tel != ''">
    			tel = #{tel,jdbcType=VARCHAR},
    		</if>
            <if test="email != null and email != ''">
    			email = #{email,jdbcType=VARCHAR},
    		</if>
             <if test="auditStatus != null">
    			audit_status = #{auditStatus,jdbcType=TINYINT},
    		</if>
            <if test="reamrk != null and reamrk != ''">
    			reamrk = #{reamrk,jdbcType=VARCHAR},
    		</if>
             <if test="applyDate != null">
    			apply_date = #{applyDate,jdbcType=TIMESTAMP},
    		</if>
             <if test="auditDate != null">
    			audit_date = #{auditDate,jdbcType=TIMESTAMP},
    		</if>
             <if test="createDate != null">
    			create_date = #{createDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
             <if test="lastUpdateDate != null">
    			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
    			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
    		</if>
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>
    
    
    
</mapper>