<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.writer.modules.writer.dao.persistence.WriterDao">

	<!--BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.yryz.writer.modules.writer.entity.Writer">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="kid" property="kid" jdbcType="BIGINT"/>
		<result column="account" property="account" jdbcType="VARCHAR"/>
		<result column="pwd" property="pwd" jdbcType="VARCHAR"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="head_img" property="headImg" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="identity_card" property="identityCard" jdbcType="VARCHAR"/>
		<result column="identity_card_photo" property="identityCardPhoto" jdbcType="VARCHAR"/>
		<result column="provice" property="provice" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="tel" property="tel" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="user_status" property="userStatus" jdbcType="TINYINT"/>
		<result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
		<result column="jpush_registration_id" property="jpushRegistrationId" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_user_id" property="lastUpdateUserId" jdbcType="VARCHAR"/>
    </resultMap>
	
	<!--Base_Column_List-->
	<sql id="Base_Column_List">id,kid,account,pwd,nick_name,head_img,phone,user_name,identity_card,identity_card_photo,provice,city,tel,email,user_status,device_id,jpush_registration_id,create_date,create_user_id,last_update_date,last_update_user_id
    </sql>

    <!-- 查询Writer详情 -->
    <select id="selectByKid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from yryz_writer  where kid = #{kid,jdbcType=BIGINT}
    </select>
    
    <!-- 删除Writer-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from yryz_writer where kid = #{kid,jdbcType=BIGINT}
    </delete>
  
  
  	<!-- 新增Writer-->
    <insert id="insert"  parameterType="com.yryz.writer.modules.writer.entity.Writer">
	    insert into yryz_writer (kid,account,pwd,nick_name,head_img,phone,user_name,identity_card,identity_card_photo,provice,city,tel,email,user_status,device_id,jpush_registration_id,create_date,create_user_id,last_update_date,last_update_user_id)
	    values (
	    	#{kid,jdbcType=BIGINT}
				,#{account,jdbcType=VARCHAR}
				,#{pwd,jdbcType=VARCHAR}
				,#{nickName,jdbcType=VARCHAR}
				,#{headImg,jdbcType=VARCHAR}
				,#{phone,jdbcType=VARCHAR}
				,#{userName,jdbcType=VARCHAR}
				,#{identityCard,jdbcType=VARCHAR}
				,#{identityCardPhoto,jdbcType=VARCHAR}
				,#{provice,jdbcType=VARCHAR}
				,#{city,jdbcType=VARCHAR}
				,#{tel,jdbcType=VARCHAR}
				,#{email,jdbcType=VARCHAR}
				,#{userStatus,jdbcType=TINYINT}
				,#{deviceId,jdbcType=VARCHAR}
				,#{jpushRegistrationId,jdbcType=VARCHAR}
			,NOW()
				,#{createUserId,jdbcType=VARCHAR}
			,NOW()
				,#{lastUpdateUserId,jdbcType=VARCHAR}
	    )
	</insert>
	
	<!--按需新增Writer-->
    <insert id="insertByPrimaryKeySelective"   parameterType="com.yryz.writer.modules.writer.entity.Writer">
	    insert into yryz_writer 
	    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			kid,
	    </if>
        <if test="account != null and account != ''">
			account,
	    </if>
        <if test="pwd != null and pwd != ''">
			pwd,
	    </if>
        <if test="nickName != null and nickName != ''">
			nick_name,
	    </if>
        <if test="headImg != null and headImg != ''">
			head_img,
	    </if>
        <if test="phone != null and phone != ''">
			phone,
	    </if>
        <if test="userName != null and userName != ''">
			user_name,
	    </if>
        <if test="identityCard != null and identityCard != ''">
			identity_card,
	    </if>
        <if test="identityCardPhoto != null and identityCardPhoto != ''">
			identity_card_photo,
	    </if>
        <if test="provice != null and provice != ''">
			provice,
	    </if>
        <if test="city != null and city != ''">
			city,
	    </if>
        <if test="tel != null and tel != ''">
			tel,
	    </if>
        <if test="email != null and email != ''">
			email,
	    </if>
        <if test="userStatus != null">
			user_status,
	    </if>
        <if test="deviceId != null and deviceId != ''">
			device_id,
	    </if>
        <if test="jpushRegistrationId != null and jpushRegistrationId != ''">
			jpush_registration_id,
	    </if>
        <if test="createDate != null">
			create_date,
	    </if>
        <if test="createUserId != null and createUserId != ''">
			create_user_id,
	    </if>
        <if test="lastUpdateDate != null">
			last_update_date,
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			last_update_user_id,
	    </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="kid != null">
			#{kid,jdbcType=BIGINT},
	    </if>
        <if test="account != null and account != ''">
			#{account,jdbcType=VARCHAR},
	    </if>
        <if test="pwd != null and pwd != ''">
			#{pwd,jdbcType=VARCHAR},
	    </if>
        <if test="nickName != null and nickName != ''">
			#{nickName,jdbcType=VARCHAR},
	    </if>
        <if test="headImg != null and headImg != ''">
			#{headImg,jdbcType=VARCHAR},
	    </if>
        <if test="phone != null and phone != ''">
			#{phone,jdbcType=VARCHAR},
	    </if>
        <if test="userName != null and userName != ''">
			#{userName,jdbcType=VARCHAR},
	    </if>
        <if test="identityCard != null and identityCard != ''">
			#{identityCard,jdbcType=VARCHAR},
	    </if>
        <if test="identityCardPhoto != null and identityCardPhoto != ''">
			#{identityCardPhoto,jdbcType=VARCHAR},
	    </if>
        <if test="provice != null and provice != ''">
			#{provice,jdbcType=VARCHAR},
	    </if>
        <if test="city != null and city != ''">
			#{city,jdbcType=VARCHAR},
	    </if>
        <if test="tel != null and tel != ''">
			#{tel,jdbcType=VARCHAR},
	    </if>
        <if test="email != null and email != ''">
			#{email,jdbcType=VARCHAR},
	    </if>
        <if test="userStatus != null">
			#{userStatus,jdbcType=TINYINT},
	    </if>
        <if test="deviceId != null and deviceId != ''">
			#{deviceId,jdbcType=VARCHAR},
	    </if>
        <if test="jpushRegistrationId != null and jpushRegistrationId != ''">
			#{jpushRegistrationId,jdbcType=VARCHAR},
	    </if>
        <if test="createDate != null">
			#{createDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="createUserId != null and createUserId != ''">
			#{createUserId,jdbcType=VARCHAR},
	    </if>
        <if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType=TIMESTAMP},
	    </if>
        <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
			#{lastUpdateUserId,jdbcType=VARCHAR},
	    </if>

			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
	    </trim>
	</insert>
	
	
	<!-- 按需修改Writer-->   
    <update id="update" parameterType="com.yryz.writer.modules.writer.entity.Writer">
        update yryz_writer
        <set>
            <if test="account != null and account != ''">
    			account = #{account,jdbcType=VARCHAR},
    		</if>
            <if test="pwd != null and pwd != ''">
    			pwd = #{pwd,jdbcType=VARCHAR},
    		</if>
            <if test="nickName != null and nickName != ''">
    			nick_name = #{nickName,jdbcType=VARCHAR},
    		</if>
            <if test="headImg != null and headImg != ''">
    			head_img = #{headImg,jdbcType=VARCHAR},
    		</if>
            <if test="phone != null and phone != ''">
    			phone = #{phone,jdbcType=VARCHAR},
    		</if>
            <if test="userName != null and userName != ''">
    			user_name = #{userName,jdbcType=VARCHAR},
    		</if>
            <if test="identityCard != null and identityCard != ''">
    			identity_card = #{identityCard,jdbcType=VARCHAR},
    		</if>
            <if test="identityCardPhoto != null and identityCardPhoto != ''">
    			identity_card_photo = #{identityCardPhoto,jdbcType=VARCHAR},
    		</if>
            <if test="provice != null and provice != ''">
    			provice = #{provice,jdbcType=VARCHAR},
    		</if>
            <if test="city != null and city != ''">
    			city = #{city,jdbcType=VARCHAR},
    		</if>
            <if test="tel != null and tel != ''">
    			tel = #{tel,jdbcType=VARCHAR},
    		</if>
            <if test="email != null and email != ''">
    			email = #{email,jdbcType=VARCHAR},
    		</if>
             <if test="userStatus != null">
    			user_status = #{userStatus,jdbcType=TINYINT},
    		</if>
            <if test="deviceId != null and deviceId != ''">
    			device_id = #{deviceId,jdbcType=VARCHAR},
    		</if>
            <if test="jpushRegistrationId != null and jpushRegistrationId != ''">
    			jpush_registration_id = #{jpushRegistrationId,jdbcType=VARCHAR},
    		</if>
             <if test="createDate != null">
    			create_date = #{createDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="createUserId != null and createUserId != ''">
    			create_user_id = #{createUserId,jdbcType=VARCHAR},
    		</if>
             <if test="lastUpdateDate != null">
    			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
    		</if>
            <if test="lastUpdateUserId != null and lastUpdateUserId != ''">
    			last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
    		</if>
			<if test="account != null and account != ''">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="profitSn != null and profitSn != ''">
				profit_sn = #{profitSn},
			</if>
			<if test="withdrawAmount != null">
				withdraw_amount = #{withdrawAmount},
			</if>
			<if test="sumWithdrawAmount != null">
				sum_withdraw_amount = #{sumWithdrawAmount},
			</if>
			<if test="latelyWithdrawAmount != null">
				lately_withdraw_amount = #{latelyWithdrawAmount},
			</if>
			<if test="withdrawDate != null">
				withdraw_date = #{withdrawDate},
			</if>
			<if test="ownerCode != null">
				owner_code = #{ownerCode},
			</if>
			<if test="ownerFcode != null">
				owner_fcode = #{ownerFcode}
			</if>
        </set>
        where kid = #{kid,jdbcType=BIGINT}
    </update>

	<!-- 按需修改Writer-->
	<update id="updateWriterProfit" parameterType="com.yryz.writer.modules.writer.entity.Writer">
		update yryz_writer
		<set>
			last_update_date = now(),
			withdraw_amount = withdraw_amount - #{latelyWithdrawAmount},
			<if test="lastUpdateUserId != null and lastUpdateUserId != ''">
				last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
			</if>
			<if test="profitSn != null and profitSn != ''">
				profit_sn = #{profitSn},
			</if>
			<if test="sumWithdrawAmount != null">
				sum_withdraw_amount = #{sumWithdrawAmount},
			</if>
			<if test="latelyWithdrawAmount != null">
				lately_withdraw_amount = #{latelyWithdrawAmount},
			</if>
			<if test="withdrawDate != null">
				withdraw_date = #{withdrawDate},
			</if>
		</set>
		where kid = #{kid,jdbcType=BIGINT}
        and withdraw_amount - lately_withdraw_amount >0
	</update>
    
    <!-- 查询Writer列表 -->
    <select id="selectList" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_writer where 1=1
        <if test="nickName != null and nickName != '' ">
			AND nick_name = trim(#{nickName})
		</if>
		<if test="kid != null and kid != '' ">
			AND kid != #{kid}
		</if>
    </select>
    
    <!-- 查询Writer列表 -->
    <select id="checkNickName" parameterType="com.yryz.writer.modules.writer.entity.Writer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yryz_writer where 1=1
        <if test="nickName != null and nickName != '' ">
			AND nick_name = trim(#{nickName})
		</if>
		<if test="kid != null and kid != '' ">
			AND kid != #{kid}
		</if>
    </select>
    
    <sql id="writer_common_column">
	    w.kid,
		w.nick_name,
		w.user_name,
		w.phone,
		h.audit_date,
		h.remark,
		h.apply_date,
		w.create_date AS register_date,
		w.head_img,
		w.user_bank_cart,
		w.identity_card,
		w.identity_card_photo,
		w.provice,
		w.city,
		w.email,
		w.tel,
		s.article_qty,
		s.video_qty,
		s.fans_qty,
		s.visit_qty,
		s.comment_qty,
		s.collect_qty,
		s.share_qty,
		s.praise_qty
    </sql>
    
    <!-- 查询后台写手列表 -->
    <select id="selectWriterList" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultType="com.yryz.writer.modules.writer.vo.WriterAdminVo">
        select * from (
        select
        <include refid="writer_common_column"/>
        FROM yryz_writer w
		INNER JOIN yryz_writer_audit_history h ON w.kid = h.writer_kid
		LEFT JOIN yryz_writer_statistics s ON w.kid = s.writer_kid
		WHERE w.user_status = 2 AND h.audit_status=2
		<if test="nickName != null and nickName != '' ">
			AND w.nick_name like CONCAT('%',trim(#{nickName}),'%')
		</if>
		<if test="phone != null and phone != '' ">
			AND w.phone like CONCAT('%',trim(#{phone}),'%')
		</if>
		<if test="userName != null and userName != '' ">
			AND w.user_name like CONCAT('%',trim(#{userName}),'%')
		</if>
		<if test="remark != null and remark != '' ">
			AND h.remark like CONCAT('%',trim(#{remark}),'%')
		</if>
		) t
		<if test="orderStr != null and orderStr != ''">
			${orderStr}
		</if>
    </select>
    
    <!-- 查询后台写手详情 -->
    <select id="selectWriterDetail" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultType="com.yryz.writer.modules.writer.vo.WriterAdminVo">
        select
        <include refid="writer_common_column"/>
        FROM yryz_writer w
		INNER JOIN yryz_writer_audit_history h ON w.kid = h.writer_kid
		LEFT JOIN yryz_writer_statistics s ON w.kid = s.writer_kid
		WHERE w.user_status = 2 AND h.audit_status=2 and w.kid = #{kid}
    </select>

	<!-- 查询管理后台Writer列表 -->
	<select id="selectAdminList" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from yryz_writer where 1=1
		<if test="keyWord != null and keyWord != '' ">
			AND ( nick_name like CONCAT('%',trim(#{keyWord}),'%')
			or phone like CONCAT('%',trim(#{keyWord}),'%')
			or user_name like CONCAT('%',trim(#{keyWord}),'%')
			)
		</if>
	</select>

	<!-- 查询Writer详情 -->
	<select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from yryz_writer
		where phone = #{phone,jdbcType=VARCHAR}
	</select>
    
    <update id="updateWriter" parameterType="com.yryz.writer.modules.writer.vo.WriterAdminVo">
		update yryz_writer set remark= #{remark},
		last_update_date = now(),last_update_user_id=#{lastUpdateUserId} 
		where kid = #{kid}
    </update>

	<!-- 查询Writer关联资金 -->
	<select id="selectWriterByParameters" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultType="com.yryz.writer.modules.writer.vo.WriterCapitalVo">
		select user_name,phone,kid,owner_code,owner_fcode,lately_withdraw_amount,
		withdraw_amount,sum_withdraw_amount,date_format(withdraw_date,'%Y-%m-%d') as withdraw_date,settlement_type
		from yryz_writer where 1=1
		<if test="keyWord != null and keyWord != '' ">
			AND  nick_name like CONCAT('%',trim(#{keyWord}),'%')
		</if>

		<if test="kid != null and kid != ''">
			AND kid = #{kid}
		</if>
	</select>

	<!-- 查询管理后台写手收益列表 -->
	<select id="selectAdminProfitList" parameterType="com.yryz.writer.modules.writer.dto.WriterDto" resultType="com.yryz.writer.modules.writer.vo.WriterAdminRefProfit">
		select kid,nick_name,user_name,phone,provice,city,profit_sn,
		withdraw_amount,sum_withdraw_amount,user_bank_cart
		from yryz_writer where 1=1
		<if test="nickName != null and nickName != '' ">
			AND nick_name like CONCAT('%',trim(#{nickName}),'%')
		</if>
		<if test="phone != null and phone != '' ">
			AND phone like CONCAT('%',trim(#{phone}),'%')
		</if>
		<if test="userName != null and userName != '' ">
			AND user_name like CONCAT('%',trim(#{userName}),'%')
		</if>
		<if test="kid != null and kid != ''">
			AND kid = #{kid}
		</if>
		<if test="profitSnList != null and profitSnList.size()>0 ">
			AND profit_sn  in
			<foreach collection="profitSnList" item="profitSn" open="(" separator="," close=")">
				#{profitSn}
			</foreach>
		</if>
		<if test="orderStr != null and orderStr != ''">
			${orderStr}
		</if>
	</select>
    
</mapper>